.main {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 350px;
  text-align: center;
  padding: 10px;
}

.button {
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  cursor: pointer;
  font-size: 14px;
  font-family: inherit;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.button:hover {
  background-color: var(--white-100);
}
